<h1>Agregar heroe</h1>
<div *ngIf="mensajeOk"   class="alert alert-success" role="alert">
  <strong>{{ mensaje }}</strong>
</div>
<div *ngIf="mensajeError"   class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{ mensaje }}</strong>
</div>
<form [formGroup]="form" novalidate (ngSubmit)="registrar($event)">
  <input type="text" formControlName="nombre" placeholder="Nombre">
  <br>
  <input type="text" formControlName="bio" placeholder="Biografia">
  <br>
  <input type="text" formControlName="img" placeholder="Imagen">
  <br>
  <input type="text" formControlName="aparicion" placeholder="Aparicion">
  <br>
  <input type="text" formControlName="casa" placeholder="Casa">
  <br>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid" >Registrar</button>
  <a class="btn btn-secondary" role="button" routerLink="/admin" routerLinkActive="active">Cancelar</a>

</form>
