<form [formGroup]="form" novalidate  (ngSubmit)="guardar($event)">
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" formControlName="nombre">
  </div>
  <div class="form-group">
    <label>Bio</label>
    <input type="text" formControlName="bio">
  </div>
  <div class="form-group">
    <label>Imagen</label>
    <input type="text" formControlName="img">
  </div>
  <div class="form-group">
    <label>Aparición</label>
    <input type="text" formControlName="aparicion">
  </div>
  <div class="form-group">
    <label>Casa</label>
    <input type="text" formControlName="casa">
  </div>
  <div class="form-group">
    <label>Idx</label>
    <input type="text" formControlName="idx">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
</form>
