<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <a class="navbar-brand" routerLink="" routerLinkActive="active">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">Acerca de la inmobiliaria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/heroes" routerLinkActive="active">Heroes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/perfil" routerLinkActive="active" *ngIf="auth.loggedIn">Perfil</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" #buscarTexto >
      <button (click)="buscarHeroe(buscarTexto.value)" class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
    </form>
    <span class="navbar-text">
      <button (click)="ingresar()" type="button" class="btn btn-outline-primary" *ngIf="!auth.loggedIn">Ingresar</button>
      <button (click)="salir()" type="button" class="btn btn-outline-primary" *ngIf="auth.loggedIn">Salir</button>
    </span>
  </div>
</nav>
